.sidebar-left, .sidebar-right {
    position: fixed;
    top: 0;
    height: 100%;
    padding: 20px;
    background-color: #111;
    color: #FFFFFF;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar-left {
    left: 0;
    width: 200px;
}

.sidebar-right {
    right: 0;
    width: 200px;
}

.sidebar-left .logo {
    width: 80%;
    margin-bottom: 20px;
}

.sidebar-left ul, .sidebar-right ul {
    list-style: none;
    padding: 0;
}

.sidebar-left ul li, .sidebar-right ul li {
    margin-bottom: 10px;
}

.sidebar-left ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.hume-bar {
    width: 100%;
    height: 20px;
    background: #222;
    border: 1px solid #FFFFFF;
    margin: 10px 0;
}

#hume-fill {
    width: 50%;
    height: 100%;
    background: #FFFFFF;
}
